<h2>Se connecter</h2>

  <br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <%= f.label :email %>
  </div>

  <br>

  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    <%= f.label :password %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %> Se souvenir de moi
      </label>
    </div>
  <% end %>

  <br>

  <div class="actions">
    <%= f.submit "Se connecter", class: "w-100 btn btn-lg btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
