<%= form_with(model: offer) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating">
    <%= form.text_field :title, class: "form-control", :required => true %>
    <%= form.label :title %>
  </div>

<br>

  <div class="form-floating mh-200">    
    <%= form.text_area :description, class: "form-control", :required => true %>
    <%= form.label :description %>
  </div>

<br>

  <div class="form-floating">   
    <%= form.text_field :photo, class: "form-control", :required => true %>
    <%= form.label :photo %>
  </div>

<br>

  <div class="form-floating">   
    <%= form.text_field :price, class: "form-control", :required => true %>
    <%= form.label :price %>
  </div>

<br>

  <div class="action">
    <%= form.submit %>
  </div>

<% end %>
