<p id="notice"><%= notice %></p>

<%
=begin%>
 
<p>
  <strong>Titre:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @offer.photo %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Utilisateur Id:</strong>
  <%= @offer.user_id %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %> 
<%
=end%>


    <div class="col-md-10">
      <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 h-md-250">
        <div class="col p-4 d-flex flex-column">
          <h2 class="d-inline-block mb-1"> <%= @offer.title %></h2>
          <h3 class="mb-0"><%= @offer.price %>€</h3>
          <div class="mb-1 text-muted"></div>
          <h5 class="card-text mb-auto"><%= @offer.description %></h5>
          <p class=""><%= @offer.user.username %></p> 
          <br>
           <% if current_user.present? && current_user == @offer.user %>
            <%= link_to 'Delete', @offer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>  
           <% end %>
           <br>
          <%= link_to 'Back', offers_path, class: "btn btn-primary btn-sm" %>
        </div>
        
        <div class="col-6 d-none d-lg-block">
 
 <img class="bd-placeholder-img card-img-top" width="100px" height="auto"
        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" 
        src="<%= @offer.photo %>"><title>Placeholder</title>

        </div>
      </div>
    </div>